@keyframes headerAnimation {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.logo {
    --width: 48px;
    width: var(--width);
    height: var(--width);
    cursor: pointer;
    .footer & {
        --width: 175px;
        @include lg {
            --width: 150px;
        }
        @include md {
            --width: 130px;
        }
        @include sm {
            --width: 100px;
        }
    }
}

.heading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    background: rgba(39, 37, 38, 0.30);
    backdrop-filter: blur(22px);
    padding: var(--bs-navbar-padding-y) 0;
    --bs-navbar-padding-y: 24px;
    @include md {
        --bs-navbar-padding-y: 20px;
    }
    @include sm {
        --bs-navbar-padding-y: 18px;
    }
    &.position-fixed {
        animation: headerAnimation .5s linear;
        background-color: rgba($color: $bg, $alpha: .6);
        backdrop-filter: blur(3px);
        --bs-navbar-padding-y: 24px;
        @include md {
            --bs-navbar-padding-y: 20px;
        }
        @include sm {
            --bs-navbar-padding-y: 1rem;
        }
    }
    &-menu {
        @include mmd {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba($color: $bg, $alpha: .90);
            padding: 20px;
            transform: translateY(150%);
            @include transition;
            &.show-menu {
                transform: translate(0, 0);
            }
        }
        & .title {
            margin-bottom: 32px;
            @include sm {
                margin-bottom: 24px;
            }
        }
        & .heading-actions {
            @include mmd {
                margin-top: 32px;
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }
            @include sm {
                margin-top: 26px;
            }
        }
    }
    &-link {
        font-size: 18px;
        line-height: 150%;
        color: rgba($color: $white, $alpha: .80);
        font-weight: 400;
        display: block;
        padding: 10px 22px;
        cursor: pointer;
        @include lg {
            padding: 10px 14px;
        }
        @include mmd {
            padding: 10px 8px;
        }
        &:hover,
        &.active {
            color: $white;
        }
    }
    &-actions {
        grid-gap: 12px;
        @include sm {
            grid-gap: 8px;
        }
    }
    & .btn {
        --bs-btn-border-width: 1px !important;
        --bs-btn-padding-x: 20px !important;
        --bs-btn-padding-y: 7px !important;
        &:not(.bg-primary) {
            border-color: $primary !important;
            color: $primary !important;
            &:hover {
                color: $white !important;
            }
        }
    }
    &-toggler {
        --btn-padding-x: 4px;
        --btn-padding-y: 5px;
        padding: var(--btn-padding-y) var(--btn-padding-x);
        border: none;
        background-color: transparent;
        color: $heading;
        display: flex;
        align-items: center;
        justify-content: center;
        & svg {
            --width: 40px;
            width: var(--width);
            height: var(--width);
            @include sm {
                --width: 32px;
            }
            @include ssm {
                --width: 26px;
            }
        }
    }
}